header {
    display: flex;
    align-items: center;
    justify-content: center;
}
header h1 {
    color: aliceblue;
}
#home {
    position: absolute;
    display: inline-block;
    left: 1em;
}
#content-form {
    position: relative;
    display: block;
    width: 50%;
    margin: 0 auto;
    background-color: rgba(112,152,0,.2);
    backdrop-filter: blur(5px);
}

form {
    position: relative;
    display: block;
    width: 60%;
    margin: 1em auto;
    padding: 1em;
    border-radius: 3px;
    background-color: rgba(112,152,0,.2);
    backdrop-filter: blur(10px);
}
label {
    position: relative;
    display: block;
    color: aliceblue;
}
input {
    position: relative;
    display: block;
    width: 100%;
    padding: 1em;
    margin-bottom: .5em;
}
textarea {
    position: relative;
    display: block;
    width: 100%; height: 300px;
    padding: 1em;
    margin-bottom: .5em;
}
button {
    position: relative;
    display: block;
    padding: .5em 1em;
    border-width: 1px;
    border-radius: 5px;
}
li {
    color: red;
}


@media (max-width: 700px) {
    form {
        width: 95%;
    }
}