@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'ZCOOL XiaoWei', serif;
    box-sizing: border-box;
}
body {
    background-image: url("http://127.0.0.1:8000/static/images/fondo.jpg");
    background-size: 100%;
}
a {
	-webkit-tap-higlight-color: transparent;
}
.button {
    text-decoration: none;
    font-size: 13px;
    padding: .5em 1em;
    background-color: #004466;
    color: #fff;
    border-radius: 5px;
}
header {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 1em;
}
header h1 {
    
}
header h1 a {
    text-decoration: none;
    color: #fff;
}

#content {
    position: relative;
    display: block;
    width: 60%;
    margin: 0 auto;
    background-color: rgba(112,152,0,.2);
    backdrop-filter: blur(10px);
}


footer {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 3em;
    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(2px0);
    color: aliceblue;
}

@media (max-width: 700px) {
    #content {
        width: 100%;
    }
}